*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main1{
  background-image: url(box1.jpg);
  background-size: cover;
}

.main2{
  background-image: url(box2.jpg);
  background-size: cover;
}

.main3{
  background-image: url(box3.jpg);
  background-size: cover;
}

.main4{
  background-image: url(box4.jpg);
  background-size: cover;
}