*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img{
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading{
  padding: 20PX;
  color: #C0C0C0;
}

main{
  width: 840px;
  margin: 50px auto;
}

.main1{
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  
}

.main2{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  
}

.main3{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  
}

.main4{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  
}
